<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>创建项目</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/locales/defaults-zh_CN.min.js"></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>

<div class="container">

        <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">创建项目信息</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" action="/createWork" method="POST">
                        <fieldset>

                            <div class="form-group">
                                <label>项目名称:</label>
                                <input type="text" class="form-control" placeholder="文件柜名" name="title">
                            </div>

                            <div class="form-group">
                                <label>填写描述信息:</label>
                                <textarea class="form-control" rows="2" name="desc"></textarea>
                            </div>

                            <div class="form-group">
                                <label>文件命名格式:</label>
                                <div class="btn-group" role="group">
                                    <select class="selectpicker btn-group" name="type">
                                        <option value="6">姓名</option>
                                        <option value="7">学号</option>
                                        <option value="1">姓名-文件名</option>
                                        <option value="2">学号-文件名</option>
                                        <option value="3">学号-姓名-文件名</option>
                                        <option value="4">班级-姓名-文件名</option>
                                        <option value="5">班级-姓名-学号-文件名</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>选择截止日期：</label>
                                <!--指定 date标记-->
                                <div class='input-group date'>
                                    <input type='datetime-local' class="form-control" name="endtime"/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"/></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>选择截止日期：</label>
                                <!--指定 date标记-->
                                <div class='input-group date'>
                                    <input type='datetime-local' class="form-control" name="endtime"/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"/></span>
                                </div>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value="提交">

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</html>