<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>请输入邀请码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/layui/layui.js" type="text/javascript" ></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>


<div class="container">

    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">请输入邀请码</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" class="layui-form">
                        <fieldset>

                            <div class="form-group">
                                <label>项目名称:</label>
                                <p th:text="${project.homeWork.title}" >
                            </div>

                            <div class="form-group">
                                <label>描述信息:</label>
                                <p th:text="${project.homeWork.infomation}">
                            </div>

                            <div class="form-group">
                                <label>结束时间：</label>
                                <p th:text="${project.homeWork.endtime}">
                            </div>

                            <div class="form-group">
                                <label>邀请码：</label>
                                <input type="text" required  lay-verify="code" name="code" class="form-control layui-input" placeholder="请输入邀请码">
                                <input type="hidden" name="workid" th:value="${project.homeWork.id}">
                            </div>

                            <input class="btn btn-lg btn-success btn-block" lay-submit lay-filter="formDemo" value="提交">

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<script th:inline="JavaScript">

    // 提交申请
    function PostTable(data){
        $.ajax({
            url: '/checkCode',
            type: "POST",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/x-www-form-urlencoded", //"application/json",  内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: data, // 请求参数
            success: function(data){
                if(data.code === 200){
                    layer.msg(data.info);
                    /*<![CDATA[*/
                    var href = [[@{/upload}]] + "?workid=" + [[${project.homeWork.id}]];
                    /*]]>*/
                    window.location = href;
                }else{
                    layer.msg(data.info);
                }
            },
            error: function(xhr, errMsg, e){
                console.info(JSON.stringify(data));
                layer.msg(errMsg)
            }
        });
    }


    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer;


        //自定义验证规则
        form.verify({
            code: function(value){
                if(value.length != 8){
                    return '邀请码为8位字符';
                }
            }
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            PostTable(data.field);
            return false;
        });

    });
</script>

<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</body>
</html>