<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>创建项目信息</title>
    <div th:insert="base :: static_files"/>
    <div th:insert="base :: layui"/>

</head>
<body>

<div th:insert="~{base :: navbar}"/>

<div class="container">

    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">创建项目信息</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" class="layui-form">
                        <fieldset>

                            <div class="form-group">
                                <label>项目名称:</label>
                                <input type="text" class="form-control layui-input" name="title" required  lay-verify="title" placeholder="文件柜名" autocomplete="off" >
                            </div>

                            <div class="form-group">
                                <label>填写描述信息:</label>
                                <textarea placeholder="请输入内容" class="form-control layui-textarea" name="infomation"></textarea>
                            </div>

                            <div class="form-group">
                                <label>文件命名格式:</label>
                                <select name="type" lay-verify="">
                                    <option value="6">姓名</option>
                                    <option value="7">学号</option>
                                    <option value="1">姓名-文件名</option>
                                    <option value="2">学号-文件名</option>
                                    <option value="3">学号-姓名-文件名</option>
                                    <option value="4">班级-姓名-文件名</option>
                                    <option value="5">班级-姓名-学号-文件名</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>是否加密：</label>
                                <input type="checkbox" name="encryption" lay-skin="switch" lay-text="是|否" value="1">
                            </div>


                            <div class="form-group">
                                <label>选择截止日期：</label>
                                <input type="text" class="layui-input" required  lay-verify="endtime"  id="date" name="endtime" placeholder="yyyy-MM-dd HH:mm:ss">
                            </div>

                            <button class="btn btn-lg btn-success btn-block" lay-submit lay-filter="formDemo">提交</button>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="JavaScript">


    // 提交申请
    function PostTable(data){
        $.ajax({
            url: '/createWork',
            type: "POST",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/json", //"application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: JSON.stringify(data), // 请求参数
            success: function(data){
                if(data.code === 200){
                    layer.msg(data.info, {time: 5000, icon:6});
                    /*<![CDATA[*/
                    var href = [[@{/userpage}]];
                    /*]]>*/
                    window.location = href;
                }else{
                    layer.msg(data.info, {time: 5000, icon:5});
                }
            },
            error: function(xhr, errMsg, e){
                console.info(JSON.stringify(data));
                layer.msg("发生未知错误！", {time: 5000, icon:2});
            }
        });
    }


    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;

        //日期时间选择器
        laydate.render({
            elem: '#date'
            ,type: 'datetime'
        });

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '项目名称至少得2个字符啊';
                }
            },
            endtime: function(value){
                if(value.length == 0){
                    return '请选择结束时间';
                }
            }
            ,required: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            PostTable(data.field);
            return false;
        });

    });
</script>

<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</body>
</html>