
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文件收集列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/layui/layui.js" type="text/javascript" ></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>

<table class="layui-hide" id="test" lay-filter="test"></table>

<!--顶部工具栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="download">打包下载</button>
    </div>
</script>

<!--行工具栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script th:inline="JavaScript">

    // 删除作业
    function deleteHomeWork(data){
        $.ajax({
            url: '/api/homework',
            type: "delete",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/json", //"application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: JSON.stringify(data), // 请求参数
            success: function(data){
                if(data.code === 200){
                    layer.msg(data.info);
                }else{
                    layer.msg(data.info);
                }
            },
            error: function(xhr, errMsg, e){
                console.info(JSON.stringify(data));
                layer.msg(errMsg)
            }
        });
    }

    function download(data) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/download', true);
        // 设置POST请求的请求头
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.responseType = "blob";    //ajax返回响应数据的类型修改为blob
        xhr.onload = function() {
            if (this.status === 200) {
                var blob = this.response; //使用response作为返回值。
                var url = URL.createObjectURL(blob); // 创建临时下载链接
                var fileName = 'test.zip'; //自定义文件名和文件后缀
                // 转换完成，创建一个a标签用于下载
                var a = document.createElement("a");
                a.download = fileName;
                a.href = url;
                a.click();
                URL.revokeObjectURL(a.href); //删除临时链接
            }
        };
        xhr.send(JSON.stringify(data));
    }


    // 加载表
    layui.use('table', function(){
        var table = layui.table;
        // 加载表
        table.render({
            elem: '#test'
            ,url:'/api/homeworks'
            ,id: 'TestId'
            ,where: {
                userid: [[${session.user.getId()}]],
                workid: [[${workid}]]
            }
            ,title: '学生上传信息'
            ,totalRow: true
            ,totalRowText: '合计：'
            ,toolbar: '#toolbarDemo'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'学号',sort: true}
                    ,{field:'name', title:'姓名'}
                    ,{field:'classname', title:'班级',sort: true}
                    ,{field:'uptime', title:'上传时间',sort: true}
                    ,{field:'filename', title:'文件名'}
                    ,{field:'filesize', title:'文件大小(kb)',sort: true}
                    ,{fixed: 'right', align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                ]
            ]
            ,page: true
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'download':
                    console.info(data);
                    console.info(data.length)
                    if(data.length == 0){
                        layer.msg('请选择需要下载的文件！');
                    }else{
                        layer.msg('开始下载！');
                        download(data);
                    }
            }
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            console.info(data);
            if(layEvent === 'detail'){
                layer.msg('查看操作');
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行吗？', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    deleteHomeWork(data);
                    table.reload('TestId', {
                    where: {
                        userid: [[${session.user.getId()}]],
                            worktitle: [[${worktitle}]],
                            page : 1,
                            pageSize: 10
                    }
                }); //只重载数据
                });
            } else if(layEvent === 'edit'){
                layer.msg('编辑操作');
            }
        });
    });
</script>

<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</body>
</html>