<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>提交你的文件</title>
    <link rel="stylesheet" href="/static/css/fileinput.min.css"/>
    <div th:insert="base :: static_files"/>
    <div th:insert="base :: layui"/>
    <script type="text/javascript" src="/static/js/fileinput.min.js"></script>

</head>
<body>

<div th:insert="~{base :: navbar}"/>


<!-- 第一页 -->

<div class="container">
    <div class="row">
        <!--主题-->
        <div class="col-md-9">


            <div class="row vertical-offset-100">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 th:text="${project.HomeWork.title}"></h2>
                            <p th:text="'创建时间: ' + ${project.HomeWork.createtime} + '  |  截止时间: '+${project.HomeWork.endtime}"></p>
                            <p th:text="'描述信息: '+${project.HomeWork.infomation}"></p>
                            <span th:text="'已收: ' + ${project.count}"/>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" id="form"  enctype="multipart/form-data">
                                <fieldset>
                                    <div class="form-group">
                                        <label>用户名: </label>
                                        <input type="text" class="form-control" placeholder="写下你的姓名" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>班级: </label>
                                        <input type="text" class="form-control" placeholder="写下你的班级" name="studentClass">
                                    </div>
                                    <div class="form-group">
                                        <label>学号: </label>
                                        <input type="text" class="form-control" placeholder="写下你的学号" name="studentId">
                                    </div>
                                    <div class="form-group">
                                        <label>备注: </label>
                                        <input type="text" class="form-control" placeholder="可以写下你的备注信息...." name="remarks">
                                    </div>

                                    <div class="form-group">
                                        <input name="file" type ="file" class ="file" data-show-upload="false"
                                               data-show-caption="true"    data-msg-placeholder="请选择文件上传！">
                                    </div>
                                    <input type="hidden" name="workid" th:value="${project.HomeWork.id}">
                                    <input type="hidden" name="type" th:value="${project.HomeWork.type}">
                                    <button class="btn btn-lg btn-success btn-block" id="submit">提交文件</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--侧边栏-->
        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-heading">留言给Ta</div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" class="layui-form">
                        <fieldset>

                            <div class="form-group">
                                <label>邮箱</label>
                                <input type="email" class="form-control layui-input" name="email" required  lay-verify="email" placeholder="邮箱" autocomplete="off" >
                            </div>

                            <div class="form-group">
                                <label>姓名</label>
                                <input type="text" placeholder="请输入姓名" class="form-control layui-input" name="name" lay-verify="name"></input>
                            </div>

                            <div class="form-group">
                                <label>留言</label>
                                <textarea placeholder="请输入留言" class="form-control layui-textarea" name="remark" lay-verify="remark"></textarea>
                            </div>

                            <input type="hidden" name="workId" th:value="${project.HomeWork.id}">

                            <button class="btn btn-lg btn-success btn-block" lay-submit lay-filter="formRemark">提交留言</button>

                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>



<script th:inline="JavaScript">


    // 提交文件
    $(function () {
        $("#form").bootstrapValidator({
            live: 'disabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
            excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
            submitButtons: '#submit',//指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面
            message: '通用的验证失败消息',//好像从来没出现过
            feedbackIcons: {//根据验证结果显示的各种图标
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 12,
                            message: '姓名由2-12位字符组成'
                        }
                    }
                },
                studentClass: {
                    validators: {
                        notEmpty: {
                            message: '班级不能为空'
                        }
                    }
                },
                studentId: {
                    validators: {
                        notEmpty: {
                            message: '学号不能为空'
                        }
                    }
                },
                file: {
                    validators: {
                        notEmpty: {
                            message: '文件不能为空'
                        }
                    }
                },
            }
        });
        $("#submit").click(function () {//非submit按钮点击后进行验证，如果是submit则无需此句直接验证
            $("#form").bootstrapValidator('validate');//提交验证
            if ($("#form").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
                $.ajax({
                    url:'/upfile',
                    dataType:'json',
                    type:'POST',
                    async: false,
                    processData : false, // 使数据不做处理
                    contentType : false, // 不要设置Content-Type请求头
                    data:new FormData($("#form")[0]), // 请求参数
                    success:function (data) {
                        console.info(data);
                        if (data.code === 200) {
                            layer.msg(data.info, {time: 5000, icon:6});
                        } else {
                            layer.msg(data.info, {time: 5000, icon:5});
                        }
                    }
                });

            }
        });
    });


    // 提交申请
    function PostTable(data){
        $.ajax({
            url: '/createRemark',
            type: "POST",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/json", //"application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: JSON.stringify(data), // 请求参数
            success: function(data){
                if(data.code === 200){
                    layer.msg(data.info, {time: 5000, icon:6});
                }else{
                    layer.msg(data.info, {time: 5000, icon:5});
                    }
                },
            error: function(xhr, errMsg, e){
                console.info(JSON.stringify(data));
                layer.msg("发生未知错误！", {time: 5000, icon:2});
            }
        });
    }


    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer

        //自定义验证规则
        form.verify({
            name: function(value){
                if(value.length < 2){
                    return '名字至少得2个字符吧';
                }
            },
            email: function(value){
                if(value.length == 0){
                    return '邮箱不能为空，否则无法回复你的消息！';
                }
            },
            remark: function(value){
                if(value.length == 0){
                    return '留言怎么也得写几个字吧？';
                }
            }
            ,required: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(formRemark)', function(data){
            PostTable(data.field);
            return false;
        });

    });



</script>



</body>


<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>


</html>