<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户页面</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>


<!-- 第一页 -->

<div class="container">
    <div class="row">
        <!--主题-->
        <div class="col-lg-9">
            <div class="headfontsize" id="one">
                <h1 class="headh1content" th:text="${session.user.getName()} + ',的项目列表'">
                    hello,你要新建一个项目吗?
                </h1>
                <p class="btn-app-stroe">
                    <a class="btn btn-success btn-lg" href="/createWork">立即创建,开始收集</a>
                </p>
            </div>

            <div id="two">
                <div class="panel panel-success">
                    <div class="panel-heading">正在进行中的项目</div>
                    <table class="table">
                        <!--标题-->
                        <thead>
                        <tr>
                            <th>title</th>
                            <th>创建时间</th>
                            <th>结束时间</th>
                            <th>已收</th>
                            <th>项目地址</th>
                        </tr>
                        </thead>
                        <!-- 内容 -->
                        <tbody>
                        <tr th:each="project : ${DoingProject}">
                            <th scope="row">
                                <a th:href="@{'/deatils?' + 'userid=' + ${session.user.getId()} + '&worktitle=' + ${project.homeWork.title} }" th:text="${project.homeWork.title}"></a>
                            </th>
                            <td th:text="${project.homeWork.createtime}">Mark</td>
                            <td th:text="${project.homeWork.endtime}">Otto</td>
                            <td>
                                <span class="badge" th:text="${project.count}">3</span>
                            </td>
                            <th scope="row">
                                <a th:href="@{'/upload?' + 'userid=' + ${session.user.getId()} + '&worktitle=' + ${project.homeWork.title} }">项目地址</a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="three">
                <div class="panel panel-default">
                    <div class="panel-heading">已结束的项目</div>
                    <table class="table">
                        <!--标题-->
                        <thead>
                        <tr>
                            <th>title</th>
                            <th>创建时间</th>
                            <th>结束时间</th>
                            <th>已收</th>
                            <th>项目地址</th>
                        </tr>
                        </thead>
                        <!-- 内容 -->
                        <tbody>
                            <tr th:each="project : ${DoneProject}">
                                <th scope="row">
                                    <a th:href="@{'/deatils?' + 'userid=' + ${session.user.getId()} + '&worktitle=' + ${project.homeWork.title} }" th:text="${project.homeWork.title}"></a>
                                </th>
                                <td th:text="${project.homeWork.createtime}">Mark</td>
                                <td th:text="${project.homeWork.endtime}">Otto</td>
                                <td>
                                    <span class="badge" th:text="${project.count}">3</span>
                                </td>
                                <th scope="row">
                                    <a th:href="@{'/upload?' + 'userid=' + ${session.user.getId()} + '&worktitle=' + ${project.homeWork.title} }">项目地址</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--侧边栏-->
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">最近留言</h4>
                </a>
                <div>
                    <tr>
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading" >评论</h4>
                            <p class="list-group-item-text">name</p>
                        </a>
                    </tr>

                    <tr th:each="student : ${students}">
                        <a class="list-group-item">
                            <h5 class="list-group-item-heading" th:text="${student.remarks}">评论</h5>
                            <p class="list-group-item-text" th:text="${student.classname} + ' ' +  ${student.name}">name</p>
                        </a>
                    </tr>
                </div>

            </div>
        </div>
    </div>
</div>

</body>


<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</html>

