<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrapValidator.css">
    <link rel="stylesheet" href="/static/css/layer.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrapValidator.js"></script>
    <script src="/static/js/layer.js"></script>
</head>


<body>
<div th:insert="~{base :: navbar}"/>
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">请登录！</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" id="form" >
                        <fieldset>
                            <div class="form-group">
                                <label>用户名: </label>
                                <input class="form-control" placeholder="用户名" name="name" type="text" >
                            </div>
                            <div class="form-group">
                                <label>密码: </label>
                                <input class="form-control" placeholder="密码" name="password" type="password">
                            </div>

                            <div class="form-group">
                                <div class="input-group" style="float: left;width: 195px;">
                                    <label>验证码: </label>
                                    <input type="text" name="code" id="code" class="form-control" style="width: 150px" maxlength="5" placeholder="验证码" autocomplete="off">&nbsp;
                                </div>
                                <img id="captcha-img" style="width: 120px;height: 40px;display: inline-block;float: right"  src="/api/kaptcha/vrifyCode" onclick="this.src='/api/kaptcha/vrifyCode?d='+ new Date()*1" title="看不清？换一张" />
                                <div class="clearfix"></div>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="is_remember" value="yes"> 保持登录
                                </label>
                                <a href="find_password" style="display: inline-block;float: right" title="找回密码">忘记密码？</a>
                            </div>
                            <div class="form-group" >
                                <button type="button" id="submit" class="btn btn-success" style="width: 100%"  data-loading-text="正在登录..." autocomplete="off">立即登录</button>
                            </div>
                            <div class="form-group">
                                还没有账号？<a href="register" title="立即注册">立即注册</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        // 表单验证
        $("#form").bootstrapValidator({
            live: 'disabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
            excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
            submitButtons: '#submit',//指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面
            message: '通用的验证失败消息',//好像从来没出现过
            feedbackIcons: {//根据验证结果显示的各种图标
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 12,
                            message: '用户名由2-12位字符组成'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                code: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '验证码是4位字符'
                        }
                    }
                },
            }
        });
        $("#submit").click(function () {//非submit按钮点击后进行验证，如果是submit则无需此句直接验证
            $("#form").bootstrapValidator('validate');//提交验证
            if ($("#form").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
                $.ajax({
                    url: '/login',
                    type: "post",
                    async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
                    cache: false, // 是否缓存此页面，每次都请求服务器
                    contentType: "application/x-www-form-urlencoded", // 内容编码类型，默认
                    dataType: "json", // 预期服务器返回数据格式
                    timeout: 3000, // 超时时间，60s
                    data: $("#form").serialize(), // 请求参数
                    // 请求成功预处理，返回的值为success的参数data
                    success: function(data){
                        if(data.code === 200){
                            layer.msg(data.info);
                            self.location.href="/userpage";
                        }else{
                            layer.msg(data.info);
                        }
                        console.info(JSON.stringify(data));
                    },
                    error: function(xhr, errMsg, e){
                        layer.msg(errMsg)
                    },
                });
            }
        });
    });



</script>



</body>
<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>
</html>