<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <link href="/static/css/404.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#myModal").modal({
                keyboard: true
            });
        });
    </script>
</head>
<body>
<div th:insert="~{base :: navbar}"/>




<div class="container">
    <div id="page-wrapper">
        <div class="page-blank-wrap">
            <div class="site-error">
                <h1 class="headline"><img src="/static/img/404.png" alt="404"></h1>
                <div class="error-content">
                    <h4>海面雾气太大</h4><h4>受天气影响，该页无法正常显示</h4>
                    <h5> 你可以 <a href="/">返回首页</a> 。</h5>
                </div>
                <img src="/static/img/error-bg.png" style="padding:20px 0 120px;">
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">温馨提示:</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger" th:if="${info}!=null" th:text="${info}"></p>
                    <p class="text-danger" th:unless="${info}!=null">哦,发生未知错误了!!!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary" th:if="${referer}!=null" th:href="${referer}" th:text="返回上一页">返回首页</a>
                    <a href="/" class="btn btn-primary" th:unless="${referer}!=null" th:text="返回首页">返回首页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>
</body>
</html>