<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>用户页面</title>
    <div th:insert="base :: static_files"/>
    <div th:insert="base :: layui"/>

</head>
<body>

<div th:insert="~{base :: navbar}"/>


<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="headfontsize" id="one">
                <h1 class="headh1content" style="text-align: center" th:text="${session.user.getName()} + '的留言板'"></h1>
            </div>


            <div class="layui-col-md12" style="margin-top: 20px">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-hide" id="remarks" lay-filter="remarks"></table>

                        <!--顶部工具栏-->
                        <script type="text/html" id="toolbarDemo">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="readed">标记已读</button>
                                <button class="layui-btn layui-btn-sm" lay-event="delete">标记删除</button>
                            </div>
                        </script>

                        <!--行工具栏-->
                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-success layui-btn-xs" lay-event="show">查看并回复</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>

                        <!-- 是否已读 -->
                        <script type="text/html" id="switchTpl">
                            <input type="checkbox" name="readed" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="switchDemo" {{ d.readed == 0 ? '' : 'checked' }}>
                        </script>

                    </div>
                </div>
            </div>



        </div>

    </div>
</div>





<script type="text/javascript">

    // 修改
    function changeReamrkRead(data){
        $.ajax({
            url: '/user/changeReamrkRead',
            type: "post",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: data, // 请求参数
            // 请求成功预处理，返回的值为success的参数data
            success: function(data){
                if(data.code !== 200){
                    layer.msg(data.info, {time: 5000, icon:2});
                }
                console.info(JSON.stringify(data));
            },
            error: function(xhr, errMsg, e){
                layer.msg(errMsg, {time: 5000, icon:2});
            }
        });
    }

    // 删除
    function deleteRemark(data){
        $.ajax({
            url: '/user/remark',
            type: "delete",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/json", //"application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: JSON.stringify(data), // 请求参数
            success: function(data){
                if(data.code === 200){
                    layer.msg(data.info, {time: 5000, icon:6});
                }else{
                    layer.msg(data.info, {time: 5000, icon:5});
                }
            },
            error: function(xhr, errMsg, e){
                console.info(JSON.stringify(data));
                layer.msg(errMsg, {time: 5000, icon:2});
            }
        });
    }

    // 批量已读
    function changeReamrkReads(data) {
        $.ajax({
            url: '/user/changeReamrkReads',
            type: "post",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/json", //"application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: JSON.stringify(data), // 请求参数
            success: function(data){
                if(data.code === 200){
                    layer.msg(data.info, {time: 5000, icon:6});
                }else{
                    layer.msg(data.info, {time: 5000, icon:5});
                }
            },
            error: function(xhr, errMsg, e){
                layer.msg(errMsg, {time: 5000, icon:2});
            }
        });
    }

    // 批量删除
    function deleteRemarks(data) {
        $.ajax({
            url: '/user/remarks',
            type: "delete",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/json", //"application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: JSON.stringify(data), // 请求参数
            success: function(data){
                if(data.code === 200){
                    layer.msg(data.info, {time: 5000, icon:6});
                }else{
                    layer.msg(data.info, {time: 5000, icon:5});
                }
            },
            error: function(xhr, errMsg, e){
                layer.msg(errMsg, {time: 5000, icon:2});
            }
        });
    }


    // 回复信息
    function reply(data){
        $.ajax({
            url: '/user/reply',
            type: "post",
            async: true, // 是否异步请求（此处需这只为异步请求true，否则bootstrap的modal不会顺序显示）
            cache: false, // 是否缓存此页面，每次都请求服务器
            contentType: "application/x-www-form-urlencoded", // 内容编码类型，默认
            dataType: "json", // 预期服务器返回数据格式
            timeout: 3000, // 超时时间，60s
            data: data, // 请求参数
            // 请求成功预处理，返回的值为success的参数data
            success: function(data){
                if(data.code !== 200){
                    layer.msg(data.info, {time: 5000, icon:2});
                }
                console.info(JSON.stringify(data));
            },
            error: function(xhr, errMsg, e){
                layer.msg(errMsg, {time: 5000, icon:2});
            }
        });
    }


    // reamarks table
    layui.use(['table', 'form'], function() {
        var table = layui.table;
        var form = layui.form;
        // 加载表
        table.render({
            elem: '#remarks'
            , url: '/user/remarks'
            , id: 'remarksId'
            ,toolbar: '#toolbarDemo'
            ,totalRow: true
            , where: {
                userid: [[${session.user.getId()}]],
            }
            , title: '留言板'
            , cols: [
                [   {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'id',sort: true}
                    , {field: 'name', title: '姓名'}
                    , {field: 'createTime', title: '留言时间', sort: true}
                    , {field: 'remark', title: '留言'}
                    , {field: 'email', title: '邮箱'}
                    , {field: 'readed', title: '是否已读',templet: '#switchTpl', unresize: true}
                    , {fixed: 'right',width: 150, align: 'center',title: '操作', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                ]
            ]
            , page: true
        });


        //监听头工具栏事件
        table.on('toolbar(remarks)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'readed':
                    if(data.length == 0){
                        layer.msg('请选择需要标记的记录！');
                    }else{
                        layer.msg('开始修改！');
                        changeReamrkReads(data);
                    }
                    break;
                case 'delete':
                    if(data.length == 0){
                        layer.msg('请选择需要标记的记录！');
                    }else{
                        layer.msg('开始删除！');
                        deleteRemarks(data);
                    }
                    break;
            }
            table.reload('remarksId', {
                where: {
                    page: 1,
                    pageSize: 10
                }
            }); //只重载数据
        });

        //监听行工具事件
        table.on('tool(remarks)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            console.info(data);
            if (layEvent === 'del') {
                layer.confirm('真的删除行吗？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    deleteRemark(data);
                });
            }else if(layEvent === 'show') {
                layer.confirm(data.remark, {
                    btn: ['回复','关闭'] //按钮
                }, function(pass,index){
                    layer.prompt({title: '写下你的回复', formType: 2}, function(text, index){
                        layer.close(index);
                        reply({'email':data.email,'name':data.name,reply:text});
                        // layer.msg('演示完毕！您的口令：'+ pass +'<br>您最后写下了：'+text);
                    });
                }, function(){
                    layer.msg('已阅');
                });

            }
        });

        //监听加密切换操作
        form.on('switch(switchDemo)', function(obj){
            changeReamrkRead({'id':this.value});
        });

    });



</script>

</body>


<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</html>

