<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>统计详情页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/locales/defaults-zh_CN.min.js"></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>


<!-- 第一页 -->

<div class="container">
    <div class="row">
        <!--主题-->
        <div class="col-lg-9">
            <div class="headfontsize" id="one">
                <h1 class="headh1content" th:text="${worktitle}">
                    hello,你要de项目
                </h1>
                <p th:text="'已收: ' + ${count}"></p>
            </div>

            <!--下载控件-->
            <div id="two" class="container">
                <form action="/download" method="post" th:if="${studentDto} != null">
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default btn-success" th:href="@{'/upload?' + 'userid=' + ${session.user.getId()} + '&worktitle=' + ${worktitle}}">项目地址</a>
                        <select class="selectpicker btn-group" multiple data-actions-box="true" name="filenames">
                            <div th:each="student,stuState : ${studentDto}">
                                <option th:text="${student.name}" th:value="${student.filename}"/>
                            </div>
                        </select>
                        <input type="hidden" name="studentid" th:value="${studentid}">
                        <input type="submit" class="btn btn-group btn-primary" value="下载">
                    </div>
                </form>
            </div>

            <div id="three">
                <div class="panel panel-default">
                    <div class="panel-heading">已收到</div>
                    <table class="table">
                        <!--标题-->
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>班级</th>
                            <th>上传时间</th>
                        </tr>
                        </thead>
                        <!-- 内容 -->
                        <tbody>
                        <tr th:each="student,stuState : ${studentDto}">
                            <th scope="row" th:text="${stuState.count}"></th>
                            <td th:text="${student.name}">Mark</td>
                            <td th:text="${student.classname}">Otto</td>
                            <td th:text="${student.time}">Otto</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--侧边栏-->
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    留言列表:
                </a>
                <div>

                    <tr th:if="${count} == 0">
                        <a class="list-group-item">
                            <h5 class="list-group-item-heading" >暂无留言!</h5>
                        </a>
                    </tr>

                    <tr th:unless="${count} == 0" th:each="remark : ${remarks}">
                        <a class="list-group-item">
                            <h5 class="list-group-item-heading" th:text="${remark.remarks}">评论</h5>
                            <p class="list-group-item-text" th:text="${remark.classname} + ' ' +  ${remark.name}">name</p>
                        </a>
                    </tr>

                </div>
            </div>
        </div>
    </div>
</div>

</body>


<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</html>

