<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>



<th:block th:fragment="static_files">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrapValidator.css">
    <link rel="stylesheet" href="/static/layer/theme/default/layer.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrapValidator.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/layer/layer.js"></script>

    <style>
        body{
            background-image: url("static/img/bg.jpg");
            background-repeat: no-repeat;
            -moz-background-size:100% 100%;
            background-size:100% 100%;
            background-attachment: fixed;
        }
        a:hover{
            text-decoration:none;
            color:black;
        } 
    </style>

</th:block>

<th:block th:fragment="layui">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
</th:block>

<th:block th:fragment="zui">
    <link rel="stylesheet" href="/static/zui/css/zui.min.css">
    <script src="/static/zui/js/zui.min.js"></script>
</th:block>

<th:block th:fragment="clipboard">
    <script src="/static/js/clipboard.js"></script>
</th:block>


<nav class="navbar navbar-default" role="navigation"  th:fragment="navbar" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">文件收集站</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse navbar-right">

            <ul class="nav navbar-nav navbar-right" th:if="${session.user != null}" >
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/img/head.jpg" alt="head" class="img-circle" style="width: 25px">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:text="'用户: ' + ${session.user.getName()}"></a></li>
                        <li><a href="/userpage">项目目录</a></li>
                        <li><a href="/logout">注销</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" th:unless="${session.user != null }">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>


        <ul class="nav navbar-nav navbar-right" th:if="${session.user != null}">
            <li><a href="/test">测试页面</a></li>
            <li><a href="/userpage">项目列表</a></li>
            <li><a href="/spaceuse">空间使用量</a></li>
            <li><a href="/userremark">留言信息</a></li>
        </ul>

    </div>
</nav>




</body>

<div th:fragment="footer" class="container">
    Copyright © kid1999 2001–2019. All rights reserved. Made with
    <img src="/static/img/footer_love.png" alt="Love" width="13" height="11">
    in kid1999. <a href="https://github.com/kid1999" style="color: #818a8f !important;" title="This is a SSM Project."> Learn more.</a>
</div>

</html>