<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>提交作业</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>


<!-- 第一页 -->

<div class="container">
    <div class="row">
        <!--主题-->
        <div class="col-lg-10">
            <div class="headfontsize" id="one">
                <h1 class="headh1content" th:text="${session.user.getName()} + ',你要新建一个项目吗?'">
                    hello,你要新建一个项目吗?
                </h1>
                <p>无言独上西楼,月如钩.</p>
                <p class="btn-app-stroe">
                    <a class="btn btn-success btn-lg" href="/createWork">立即创建,开始收集</a>
                </p>
            </div>

            <div id="two">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">正在进行中的项目...</h4>
                        <p class="list-group-item-text">...</p>
                    </a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>

            <div id="three">
                <div class="list-group">
                    <button class="list-group-item active">已完结的项目</button>
                    <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item">Vestibulum at eros</button>
                </div>
            </div>


        </div>
        <!--侧边栏-->
        <div class="col-lg-2">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    右侧边栏
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
            </div>
        </div>
    </div>
</div>



</body>


<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</html>

