<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>

<div class="container">
    <div class="jumbotron">
        <h1 th:if="${session.user == null}">欢迎光临！</h1>
        <h1 th:unless="${session.user == null}" th:text="'欢迎回来， ' + ${session.user.getName()}"></h1>
        <p>这里可以开启一个空间，收集文件。</p>
        <p th:if="${session.user == null}"><a class="btn btn-primary btn-lg" href="/login" role="button">登录</a> <a class="btn btn-success btn-lg" href="/register" role="button">注册</a></p>
        <p th:unless="${session.user == null}"><a class="btn btn-success btn-lg" href="/userpage" role="button">进入项目文件夹</a></p>
    </div>
</div>

</body>


<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>

</html>