<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>提交你的文件</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fileinput.min.css"/>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/static/js/locales/zh.js"></script>
</head>
<body>

<div th:insert="~{base :: navbar}"/>


<!-- 第一页 -->

<div class="container">
    <div class="row">
        <!--主题-->
        <div class="col-lg-10">
            <div class="headfontsize" id="one">
                <h1 class="headh1content">
                    hello,请提交你的文件
                </h1>
                <p th:text="'创建时间: ' + ${project.createtime} + '  截止时间: '+${project.endtime}"></p>
                <span th:text="'已收: ' + ${count}"/>
            </div>

            <div id="two">
                <div class="jumbotron">
                    <h2 th:text="${project.title}"></h2>
                    <p th:text="'描述信息: '+${project.infomation}"></p>
                    <form action="/upfile" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">备注:</span>
                            <input type="text" class="form-control" placeholder="可以写下你的备注信息...." name="remarks">
                        </div>
                        <input id ="input-id" name="file" type ="file" class ="file" data-preview-file-type ="text" language="zh" >
                        <input type="hidden" name="workid" th:value="${project.id}">
                        <input type="hidden" name="type" th:value="${project.type}">
                        <input type="hidden" name="filepath" th:value="${project.filepath}">
                        <input type="submit" value="提交" class="btn btn-lg btn-success"/>
                    </form>
                </div>
            </div>

        </div>
        <!--侧边栏-->
        <div class="col-lg-2">
            <div class="list-group">
                <p href="#" class="list-group-item active">
                    温馨提示:
                </p>
                <p href="#" class="list-group-item text-danger">1.请按规则命名!!!</p>
                <p class="list-group-item text-danger"><span>如: 学号-班级-姓名-要求字段/自定义</span></p>
                <p class="list-group-item text-muted">2.文件要求<=<span>20Mb</span></p>
                <p class="list-group-item text-info">3.提交记录在左上角查询,重复提交视为覆盖之前的记录</p>
                <p class="list-group-item text-success">4.请参考以上三条!!!</p>
            </div>
        </div>
    </div>
</div>

</body>


<footer th:insert="~{base :: footer}" class="navbar-fixed-bottom"/>


</html>

